
.auto-complete {

  @extend .select-universal;
  
  background: none;

  &--primary &__caption { border-color: $primary-color;}
  &--danger &__caption { border-color: $danger-color;}
  &--success &__caption { border-color: $success-color;}
  &--warning &__caption { border-color: $warning-color;}

  &__wrapper {

    display: block;
    position: relative;
  }

  &__caption {

    min-height: 36px;
    display: block;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: border 200ms;
    position: relative;
  }

  &__text {

    @include tp-base;

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #666;
    background: #fff;
    padding: 9px 60px 8px 10px;
    font-size: 14px;
  }


  &__field {

    @include tp-base;

    @extend .placeholder;

    display: block;
    width: 100%;
    padding: 9px 60px 8px 10px;
    font-size: 14px;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #666;
  }

  &__icon,
  &__process,
  &__reset {

    position: absolute;
    top: 50%;
    color: $primary-color;
  }

  &__icon {

    @extend .fa;
    @extend .fa-search;

    right: 8px;
    font-size: 24px;
    margin: -13px 0 0 0;
  }

  &__reset {

    @extend .fa;
    @extend .fa-times;

    right: 36px;
    font-size: 20px;
    margin: -10px 0 0 0;
    cursor: pointer;

    &:hover {
      color: rgba($primary-color, .7);
    }
  }

  &__process {

    @extend .fa;
    @extend .fa-spinner;
    @extend .fa-spin;

    right: 8px;
    font-size: 24px;
    margin: -13px 0 0 0;
  }

  &__list {

    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    max-height: 250px;
    font-size: 14px;
    background: #fff;
    border: none;
    box-sizing: border-box;
    box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.3);
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    z-index: 20;
  }

  &__item {

    display: block;
    cursor: pointer;

    &:nth-child(odd) {
      
      background: #F2F2F2;
    }

    &:hover {

      background: rgba($primary-color, .3);
    }

    &--active,
    &--active:hover {

      background: $primary-color !important;
      color: #fff;

      .marker--primary{

        color: #333;
      }
    }
  }

  &__item-caption {

    @include tp-base;

    display: inline-block;
    padding: 6px;
    color: inherit;
    max-width: 100%;
    white-space: normal;
    box-sizing: border-box;
  }

  &__item-title {

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__item-address {

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 4px 0 0 ;
    color: $muted-color;
  }
  
  &--disabled  &__field {
  
    background-color: #f2f2f2;
    cursor: default;
  }

/*   &--disabled &__arrow, */
/*   &--disabled &__text { */

/*     color: $muted-color; */
/*   } */

  &--opened &__arrow {

    color: $primary-color
  }

  &__error-message {

    @include tp-base;
  }

  &--primary &__error-message { color: $primary-color;}
  &--danger &__error-message { color: $danger-color;}
  &--success &__error-message { color: $success-color;}
  &--warning &__error-message { color: $warning-color;}
}