
.select-universal {

  position: relative;
  display: block;
  background: #fff;
  z-index: auto;

  &__arrow {

    @extend .fa;
    @extend .fa-caret-down;

    position: absolute;
    top: 50%;
    right: 7px;
    font-size: 16px;
    color: $primary-color;
    margin: -7px 0 0;
    z-index: auto;
  }

  &__caption {

    position: relative;
    display: block;
    font-size: 14px;
    padding: 9px 22px 8px 10px;
    border: 2px solid #ccc;
    border-radius: 3px;
    z-index: 10;
    cursor: pointer;
  }

  &__text {

    @include tp-base;

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #666;
    font-size: 14px;
  }

  &__list {

    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    min-width: 100%;
    max-height: 250px;
    font-size: 14px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
    overflow: auto;
    z-index: 20;
  }

  &__item {

    display: block;
    cursor: pointer;

    &:hover {

      background: rgba($primary-color, .3);
    }

    &--active,
    &--active:hover {

      background: $primary-color;
      color: #fff;
    }
  }

  &__item-caption {

    @include tp-base;

    display: inline-block;
    padding: 6px;
    color: inherit;
  }
  
  &__error-message {
  
    @include tp-base;
    color: #d9534f;
    font-size: 13px;
    display: block;
  }

  &--danger {
    
    .select {
      border-color: #d9534f;
    }
  }
  
  &--disabled  &__caption {
  
    background-color: #f2f2f2;
    cursor: default;
  }

/*   &--disabled &__arrow, */
/*   &--disabled &__text { */

/*     color: $muted-color; */
/*   } */

  &--opened &__arrow {

    color: $primary-color
  }
}