
.tool-tip {

  position: relative;
  vertical-align: middle;
  cursor: default;

  &--opened &__container,
  &--hovered &__icon:hover + &__container {

    display: block;
  }

  &--left-position &__container {

    margin: 14px 0 0 -24px;

    &:before {
      left: 20px;
    }

    &:after {
      left: 21px;
    }
  }

  &__icon {

    @extend .fa;
    @extend .fa-question-circle;

    display: block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: -4px 0;
    color: $primary-color;
    cursor: pointer;
  }

  &__close {

    @extend .fa;
    @extend .fa-times;

    position: absolute;
    top: 7px;
    right: 7px;
    display: block;
    font-size: 16px;
    color: $primary-color;
    cursor: pointer;
  }

  &__container {

    display: none;
    position: absolute;
    top: 100%;
    font-weight: normal;
    min-width: 300px;
    height: auto;
    background: red;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.3);
    z-index: 9000;
    white-space: normal;

    &:before {

      position: absolute;
      bottom: 100%;
      display: block;
      border: 12px solid #ccc;
      border-top: none;
      border-left-color: transparent;
      border-right-color: transparent;
      content: '';
    }

    &:after {

      position: absolute;
      bottom: 100%;
      display: block;
      border: 11px solid #ffc;
      border-top: none;
      border-left-color: transparent;
      border-right-color: transparent;
      content: '';
    }
  }

  &__content {

    display: block;
    padding: 20px;
    background: #ffc;
  }
}