
.tree-component {

  display: block;
  user-select: none;
  font-weight: bold;
  background: #ebf4fb;
  overflow: hidden;

  &--disabled .tree__group--not-items > &__group-item &__group-status {

    color: $muted-color;
  }

  &__group {

    display: block;
  }

  &__group + &__group,
  &__group + &__item {

    margin: 0;
  }
  
  & & {
    font-weight: normal;
  }

  .tree-component__group.tree-component__group--opened > &__group-item &__group-status {

    @extend .fa-chevron-down;
  }

  .tree-component__group.tree-component__group--not-items > &__group-item &__group-status {

    color: $muted-color;
  }
  
  & .link {
  
    margin: 10px 0 0 0;
    display: inline-block;
  }

  &__group-loading {

    @extend .fa;
    @extend .fa-spin;
    @extend .fa-spinner;
  }

  &__group > &__group-item &__group-status {

    @extend .fa-chevron-right;
  }

  &__group-item {

    display: block;
    padding: 10px 20px;
    border-radius: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
  }

  &__group-item--selected {

    background: #fff;
  }
  
  &__group-item--selected + & {

    font-weight: normal;
    background: #f2f9fe;
  }

  &__group-status {

    @extend .fa;

    display: inline-block;
    width: 10px;
    color: $primary-color;
    vertical-align: middle;
    font-size: 10px;
  }

  &__group-name {

    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}