

.base-layout {
  
  display: block;
  padding: 20px 0;

  &__controls {

    display: block;
  }

  &__header {}
  
  &__tabs {
      
      margin-top:40px;
      
      .tab-span {
          font-size: 26px;
      }
      .tab-link {
          text-decoration: none;
          color: #1881d3;
          font-size: 26px;
      }
      .tab-margin {
          margin-left:55px;
      }
  }
  
  &__button {

    text-align: right;
    margin: 0 0 40px 0;
  }

  &__number {
      float:left;
      margin-top:20px;
  }
  
  &__content {

    display: block;
    margin-top: 30px;
  }

  &__paging {
    text-align: right;
    margin: 0 0 40px;
  }
}

.base-controls {

  &:after {
    display: block;
    content: '';
    clear: both;
  }

  &__filter {
    width: 100%;
    padding-right: 272px;
    box-sizing: border-box;
  }
  
  &__toolbar {
    width: 100%;
    padding-right: 272px;
    box-sizing: border-box;
  }

  &__search {
    float: right;
    width: 252px;
  }
}