
.print {

  &__controls {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid $primary-color;
    text-align: right;
  }

  &__content {
    margin: 20px 0;
  }

  &__page {

    padding: 20px;
    background: lighten($muted-color, 35%);
  }

  &__frame {
    position: relative;
    display: block;
    //height: 100%;
    width: 100%;
    min-height: 100%;
  }

}