

.alert {

  @include tp-base;

  display: block;
  border: 1px solid lighten($muted-color, 20%);
  border-radius: 4px;
  background: lighten($muted-color, 35%);
  padding: 10px;
  color: darken($muted-color, 10%);

  &--primary {
    border-color: $primary-color;
    background: lighten($primary-color, 40%);
    color: darken($primary-color, 10%);
  }

  &--success {
    border-color: $success-color;
    background: lighten($success-color, 55%);
    color: darken($success-color, 10%);
  }

  &--warning {
    border-color: $warning-color;
    background: lighten($warning-color, 20%);
    color: darken($warning-color, 30%);
  }

  &--danger {
    border-color: $danger-color;
    background: lighten($danger-color, 20%);
    color: darken($danger-color, 30%);
  }

  & + * {
    margin: 20px 0 0;
  }
}