
.certificate {
	
	&-item {
		display: table;
	    width: 100%;
	    padding: 20px;
	    margin: 0 auto 4px;
	    background: #f2f2f2;
	    font-size: 16px;
	    cursor: pointer;
	    box-sizing: border-box;
	    
	    &-title {
			display: table-cell;
    		color: #2b80cf;
	    }
	    
	    &-name {
	    	color: #333333;
	    }
	    
	    &-date {
		    display: table-cell;
		    width: 20%;
		    vertical-align: bottom;
		    text-align: right;
		    font-size: 13px;
	    }
	}
}