
.checkbox {

  display: inline-block;
  font-size: 8px;
  color: transparent;
  vertical-align: middle;
  position: relative;

  &--small &__visual {

    width: 14px;
	  height: 14px;
	
	&:before {
		font-size: 8px !important;
	}
  }

  &__visual {

    @extend .fa;

    display: inline-block;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid #2b80cf;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    text-align: center;
    transition: color 200ms, background 200ms;
  }

  &__input {

    display: none;

    &:checked + .checkbox__visual {

      @extend .fa-check;

      display: inline-block;
      background: #2b80cf;

      &:before {

        display: inline-block;
        margin-top: 3px;
        font-size: 12px;
      }
    }

    &:indeterminate + .checkbox__visual {

      @extend .fa-stop;

      display: inline-block;
      background: #2b80cf;

      &:before {

        display: inline-block;
        margin-top: 3px;
        font-size: 13px;
      }
    }

    &:disabled + .checkbox__visual,
    &:disabled + .checkbox__caption {

      background: transparent;
      border-color: #ccc;
      color: $muted-color;
      cursor: default;
      
      &:before {
        color: #ccc;
      }
    }
  }

  &__visual + &__caption {

    margin: 0 0 0 4px;
    transition: color 200ms, background 200ms;
  }

  &__caption {

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000;
    vertical-align: middle;
  }

  &--checked {

    color: #fff;
  }

  &--indeterminate {

    @extend .fa-minus;
  }

  &--text > &__caption {

    @extend .marker--primary;

    font-size: 12px;
    padding: 0 4px;
    border-radius: 3px;
    border-bottom: 1px dotted $primary-color;
    cursor: pointer;
  }

  &--text.checkbox--active &__caption {

    @extend .marker--background;
    @extend .marker--primary;

    color: #fff !important;
    border-bottom-color: transparent;
  }

  &--text.checkbox--active.checkbox--success &__caption,
  &--text.checkbox--success &__caption {

    @extend .marker--success;

    border-bottom-color: inherit;
  }

  &--text.checkbox--active.checkbox--warning &__caption,
  &--text.checkbox--warning &__caption {

    @extend .marker--warning;

    border-bottom-color: inherit;
  }

  &--text.checkbox--active.checkbox--danger &__caption,
  &--text.checkbox--danger &__caption {

    @extend .marker--danger;

    border-bottom-color: inherit;
  }

  &--text.checkbox--active.checkbox--neutral &__caption,
  &--text.checkbox--neutral &__caption {

    @extend .marker--neutral;

    border-bottom-color: inherit;
  }

  &--text.checkbox--active &__input:disabled + &__caption {

    @extend .marker--default;

    border-bottom-color: inherit;
  }
}