
.preloader {
    	 	
 	& + .icon--preload {
 	
	    opacity: 0;
	    -webkit-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    position: relative;
	    top: 0;
	    line-height: 0;
	    float: right;
	    right: 10px;
	    margin-top: -20px;
	    text-align: center;
	    
	    &:before {
	    
	    	color: #999;
	    }
 	}
 	
 	&:disabled + .icon--preload {
 	
	 	opacity: 1;
		-webkit-animation: fa-spin 2s infinite linear;
		animation: fa-spin 2s infinite linear;
	}
 }