
.modal-dialog {

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 100;

  &--overflow {

    overflow: auto;
  }

  &--overflow &__block {

    position: relative;
    margin: 20px auto;
  }

  &__close {

    @extend .fa;
    @extend .fa-close;

    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: $primary-color;
  }

  &__block {

    position: absolute;
    display: inline-block;
    min-width: 400px;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    margin: 20px auto;
  }
}