
.line-notification {

  position: relative;
  display: block;
  border-bottom: 1px solid #ccc;
  background: #ddd;

  &__content {

    @include tp-base;
    @extend .centralizing-container;

    display: block;
    text-align: center;
    font-weight: 600;
    color: #787878;
    padding: 10px 0;
    box-sizing: border-box;
    position: relative;
  }

  &__close {

    @extend .fa;
    @extend .fa-times;

    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    font-size: 14px;
    color: #888;
    margin: -7px 0 0;
    cursor: pointer;
  }
}