
.status {

  @extend .fa;
  font-size: 20px;
  vertical-align: middle;

  &--circle {
    @extend .fa-circle;
    font-size: 20px;
  }

  &--circle-empty {
    @extend .fa-circle-o;
    font-size: 20px;
  }

  &--check-circle {
    @extend .fa-check-circle;
    font-size: 20px;
  }

  &--exclamation-circle {
    @extend .fa-exclamation-circle;
    font-size: 20px;
  }

  &--exclamation {
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url("../../images/icon.exclamation-red.png");
  }

  &--times-circle {
    @extend .fa-times-circle;
    font-size: 20px;
  }

  &--clock-circle {
    @extend .fa-clock-o;
    font-size: 20px;
  }

  &--ban-circle {
    @extend .fa-ban;
    font-size: 20px;
  }

  &--thin-circle {
    @extend .fa-circle-thin;
    font-size: 20px;
  }

  &--check-circle-o {
    @extend .fa-check-circle-o;
    font-size: 20px;
  }

  &--circle {
    @extend .fa-circle;
    font-size: 20px;
  }
  
  &--file-o {
    @extend .fa-file-o;
    font-size: 20px;
  }

  &--cross {
    @extend .fa-times;
    font-size: 20px;
  }

  &--success {
    color: $success-color;
  }

  &--warning {
    color: $warning-color;
  }

  &--danger {
    color: $danger-color;
  }

  &--default {
    color: $muted-color;
  }

  &--no-problem {
    width: 21px;
    height: 21px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAvUlEQVR4AWMAg51VOgy7q7cw7Kr+wrC75j+pGKQPpB9sDsLAms9gScrxZ7B5IBugtq1j2FoqwUAGAOkD6QeZAzYP5mVkA8k1GB4UcKdTDuBmDWdDd1TFAdVnUs/QXTXpwNj9B40QE9IN3VWVAtQYicPABQwNDEwkGQpyBTTN/QMm5iSGndVphAwkbOiqUGagIUtgBhM0kLChmAajG0imoQiDgYbNAYbvDJCBo4mfKENpUkrRpDylSclPkzoKALsPkeLavmbDAAAAAElFTkSuQmCC') no-repeat 0 0;
  }

  &--maybe-has-problem {
    width: 21px;
    height: 21px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABAUlEQVR4AWMAgc87A3W+7And8nVP6Jeve0P/k4pB+kD6QebADQRKfAZLUo4/gw0G2QC1bd2XraESDGQAkD6QfpA5IPMYYF5GNpBcg2FBwQBzOgPlAG4W0YY+2+zLBaQYqWLolz0hZV/3hhwF4t9A9jMg7qCGoZ1f9obsAUZAEYgGqQXFMLmGYlqwKzQWbOju4DCKDEVoCDICuvoN0LXX368PEKDAUERyARu4J/QqiE2V2P+8JzQcpObTzhArqiWp/Q0OLK9WhfI0NDAwUc1QoLddv+4JOf1hV7AJ1Qz9vDc0Bxzre0NCqZqjPu4IFaIgm1Ke92lSStGkPKVJyU+TOgoAjTIpizbAMUEAAAAASUVORK5CYII=') no-repeat 0 0;
  }

  &--has-problem {
    width: 21px;
    height: 21px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAzklEQVR4AWMAgTslsTp3y+O33CuP/3KvIuE/qRikD6QfZA7CwIr4zyBJSjHIHLDBIBtAAkB63dXSBAkGMgBIH0g/1JwtDDAvIxtIrsGwoGCAOZ2BcgA3a+AMvVsR5wINr21UM/RWSaw5NLxWUs3Q28XRWlCXzqGe98vj5CCGJkygmqGXKqIEod5vppqhZ9KMWSE5Jq6cqknqalYoD8hwSgzFzC3l8cfvVcSlUDGionWBav4CY38ahYZiRhaQYhywbEqTUoom5SlNSn6a1FEAcxrY2DKxp1AAAAAASUVORK5CYII=') no-repeat 0 0;
  }
}