
textarea {

  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  height: auto;
  resize: vertical;
  max-width: 100%;
  max-height: 10em;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #666;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:disabled,
  &:hover:disabled {
    background: #f2f2f2;
    cursor: default;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    border-color: #d9d9d9;
    box-shadow: none;
  }
}