
.tooltip {
	
	width: calc(100% - 30px);
    display: inline-block;

	&__custom {
	
		font-family: $base-font-family;
		position: absolute;
	    background: #ffc;
	    display: none;
	    width: 280px;
	    border: 1px solid #ccc;
	    z-index: 1060;
	    -webkit-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.3);
	    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.3);
	    
    	&:before,
    	&:after {
    	
		    content: '';
		    position: absolute;
		    right: 13px;
		    top: -20px;
		    border: solid transparent;
		    border-width: 10px 13px;
		    border-bottom-color: #ccc;
		}
		
		&:after {
		
		    border-bottom: 10px solid #ffc;
		    top: -19px;
		}
	}
	
	&__close {
	
	    float: right;
	    line-height: 20px;
	    overflow: hidden;
	    margin: 20px 20px 0 0;
		
		& a {
		    opacity: 1;
		    font-weight: 400;
		    font-size: 36px;
		    color: #2b80cf;
		    text-decoration: none !important;
		}
	}
	
	&__content {
		
	    margin: 20px 40px 20px 20px;
	    font-size: 13px;
	    line-height: 1.5;
	    color: #000;
	}
	
	&__item {
	
	    cursor: pointer;
	    color: transparent;
	    position: absolute;
	    right: -30px;
	    top: 50%;
	    width: 18px;
	    height: 20px;
	    overflow: hidden;
	    margin-top: -10px;
    	
    	&:before {
    	
    		color: $primary-color;
    	}
	}
}