.ui-widget {

  font-family: "Open Sans", sans-serif;
}

.ui-widget-overlay {

  background: #000000/*{bgColorOverlay}*/ /*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/;
  opacity: .5/*{opacityOverlay}*/;
  filter: Alpha(Opacity=50)/*{opacityFilterOverlay}*/;
}

.ui-widget input, 
.ui-widget select, 
.ui-widget textarea, 
.ui-widget button {

  font-size: medium;
}

.ui-autocomplete {

  z-index: 110;
  border: none !important;
  -webkit-box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 5px 15px 0px rgba(0, 0, 0, 0.3);
  max-height: 200px;
  overflow: auto;

  & .ui-menuitem-html > span {

  display: block;
  font-size: 14px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;

    &:last-child {
      font-size: 12px;
    }
  }

&.ui-custom__outlets {

  overflow: auto;
  max-height: 178px;
}

  & .ui-menu-item {

    list-style-image: none;
    line-height: 1;

    &:nth-child(odd) {

      background: #F2F2F2;
    }

  & .ui-menu-item-wrapper {

    padding: 10px;
    border: none;

      &.ui-state-active {

        background: #E5F1FA;
        color: #333333;
        border: none;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
      }

      &.ui-state-focus {

        margin: 0;
      }
    }
  }
}