
.departments-autocomplite-item {
  
  font-family: $base-font-family; 
  font-size: 12px;
  
  &__name {
    display: block;
    font-size: 14px;
    padding-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
  }

  &__icon {
    
    @extend .text-info;
    
    position: static !important;
    display: inline;
  }
}