<!DOCTYPE html>
<html lang="ru">
<head>

    <title>Sim Payment</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- cache off -->
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Expires" content="1"/>


    <script language="javascript">
    </script>

</head>
<body>

    <main id="application"></main>

</body>
</html>
