
.navigate {

  font-family: "Open Sans", sans-serif;
  background: $header-background;
  padding: 0;
  font-size: 0;
  
  & ~ &, &.tabs {
  	
  	@extend .navigate--sub;
  	@extend .centralizing-container;
        
        
  	border-bottom: 1px solid #ccc;
  	
  	& .navigate__item {
  		font-weight: 700;
	    text-transform: inherit;
  		margin-left: 0;
  	}
  	
  	& .navigate__item > .navigate__link {
            text-align:center;
            height:18px;
            padding: 15px 14px 10px;
  	}
  	
  	& .navigate__caption {
  		font-size: 14px;
	    display: inline-block;
  		    
  		&:first-letter {
  			text-transform: uppercase;
  		}
  		
  		&:before {
  			display:none;
  		}
  	}
  	
  	& .navigate__item--active > .navigate__link {
		border-bottom: 5px solid $header-background;
	    font-weight: normal;
  	}

    & .navigate__item--disabled > .navigate__link {
      color: $muted-color;
    }
  }
  
  &__count {
    display: inline-block;
    color: #fff;
    background: $warning-color;
    border-radius: 5px;
    padding: 4px;
    margin: -4px 0 -4px 5px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
  }

  &__item {

    position: relative;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 50ms;

    & + & {
      margin: 0 0 0 20px;
    }

    &--active,
    &:hover {
      font-size: inherit;
      background: rgba(255, 255, 255, 0.5);
      color: #2b80cf;
      font-weight: 700;
    }

    &--disabled,
    &--disabled:hover {
      background: none;
      cursor: default;
      color: lightgray;
    }
  }

  &__process {

    @extend .fa;
    @extend .fa-spinner;
    @extend .fa-spin;

    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
  }

  &__item--active > &__link {}

  &__link {
  
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
  }
  
  &__icon {
    
    &--dashboard {
      
        @extend .fa;
        @extend .fa-home;
        
        color: inherit;
        vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 20px;
        line-height: 13px;
    }
  }

  &__caption {

    font-size: 13px;
    color: inherit;
    vertical-align: middle;
    
	&:before {
    
    	content: attr(data-text);
    	display: block;
    	height: 1px;
    	overflow: hidden;
    	font-weight: 700;
        color: transparent;
    }
  }
  
  &__updateButton {
  	
    display: inline-block;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0 0 10px;
    vertical-align: middle;
    padding: 0;
  	
  	&:before {
  	
  		@extend .button-update__button:before;
  		
  		font-weight: normal;
  		font-size: 18px;
  	}
  }
}

.navigate--sub {

  background: transparent;

  .navigate__item {
    color: #333;
  }
}

.navigate--mini {

  background: transparent;

  & .navigate__item {

    background: transparent;
    color: #2b80cf;
    text-transform: none;

    &:hover {
      text-decoration: underline;
      font-weight: normal;
    }
  }

  & .navigate__link {
    padding: 0;
  }
}

.navigate--negative {

  background: transparent;

  & .navigate__item {

    background: transparent;
    color: #fff;
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .navigate__link {
    padding: 0;
  }

}