
.add-outlet-dialog {

  font-family: $base-font-family;
  width: 1000px;
  background: #f2f2f2;

  &__header {

    padding: 30px 30px 0;
    border-bottom: 1px solid transparent;
    line-height: 1.42857143;

    & .dunger {

      @extend .text-error;
      @extend .text-center;

      font-size: 14px;
      padding-top: 5px;
    }
  }

  & .title {

    @extend .text-center;

    &__h1 {
      @extend .title__h1;
    }
  }

  & .contactPhone {
    width: 445px;
  }

  & .contactPhoneAdd {
    width: 140px;
    vertical-align: top;
  }

  .address .fieldset__cell {

    width: 800px;
    min-height: 40px;
    line-height: 36px;
    text-align: right;

    &:nth-child(even) {
      text-align: left;
    }

    &:first-child {
      width: 100px;
      vertical-align: top;
    }
  }

  .outlet {
    width: calc(100% - 65px);
    margin: 0 auto;

    & .fieldset__row .fieldset__cell {

      width: 604px;
      vertical-align: top;

      &:first-child {
        width: 110px;
      }
    }

    & .fieldset__dual .fieldset__cell {
      width: calc(40% - 84px);

      &:first-child {
        width: 116px;
        margin-left: -6px;
      }
    }
  }

  .fieldset__dual .fieldset__cell {

    width: 292px;
    min-height: 40px;
    line-height: 36px;

    &:nth-of-type(3) {
      width: 34px;
      text-align: right;
    }

    &:first-child {
      width: 80px;
      margin-left: 20px;
      vertical-align: top;
    }
  }

  .address .fieldset__quad .fieldset__cell {

    width: 114px;

    &:nth-child(odd) {
      width: auto;
    }

    &:first-child {
      width: 100px;
    }
  }

  & .fieldset {

    padding: 0 30px;
    margin-bottom: 0;

    &__row {

      padding-top: 15px;
  
      & .form__label {
        vertical-align: middle;
        display: inline-block;
      }
    }

    &__cell {

      width: 600px;
      margin: 0;
      vertical-align: top;
      line-height: 35px;

      &:first-child {
      width: 150px;
      text-align: right;
    }

    &__justify {
      @extend .justify-container;
    }
  }

  &:first-child {
      padding: 0 30px;
    }
  }

  &__footer {
    padding: 30px;
    border-top: 1px solid transparent;

    & .controls .alert {
      @extend .text-center;
    }
  }
}