
.address-dialog {
	
	font-family: $base-font-family;
	width: 760px;
	background: #f2f2f2;
	
	&__header {
	
	    padding: 30px;
    	border-bottom: 1px solid transparent;
	}
	
	& .title {
   
		@extend .text-center;
		
		&__h4 {
			font-weight: 400;
			line-height: 30px;
			font-size: 18px;
		}
	}
	
	& .fieldset {
		
	    padding: 0;
	    margin-bottom: 0;
	    
	    &__row {
	    
		    padding-top: 15px;
		}
		
		&__cell {
			
			margin: 0;
			vertical-align: top;
		    
		    &:first-child {
		      line-height: 40px;
		    }
		    
		    & .form__label {
                display: inline;
                vertical-align: middle;
		    }
		}
	}
	
	&__body {
	
		padding: 30px;
	}
	
	&__footer {
	
		padding: 30px;
    	border-top: 1px solid transparent;
	}
}