
.combo-box-cabinet {
  
  display: inline-block;
  
  &__title {
  
    font-size: 18px;
    color: $primary-color;
    max-width: 564px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__container {
  
    max-height: 400px;
    overflow: auto;
  }

  &__item {

    padding: 10px;
    cursor: pointer;
    margin: 10px;
    background: #fff;
    line-height: 1.42857143;

    &:first-child {
      margin-top: 10px;
    }
  
    &:last-child {
      margin-bottom: 10px;
    }

    &--active {
    
      display: none;
      cursor: default;
    }

    &:hover {
      background: #dae5ee;
    }
  }

  &:hover .combo-box-component__caption > span {
    text-decoration: underline;
  }

  &:hover .combo-box-component__caption{
    text-decoration: none;
  }

  & .combo-box {
  
    background: #f2f2f2;
    min-width: 400px;
    padding: 0;
    
    &:empty {
      border: none;
    }
  }

  & .combo-box-component {
  
    &__caption {
    
      white-space: normal;
      vertical-align: middle;
      line-height: 24px;
      max-width: 565px;
      display: initial;
    
    & > span {

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 565px;
      pointer-events: none;
      line-height: 14px;
      display: inline-block;
      vertical-align: inherit;
      
      &:first-child {
      	margin-right: -4px;
      }
  }
}

    &__header:after {
      vertical-align: sub;
    }
  }

  & .combo-box__link {
    white-space: normal;
  }
}