
.clever {

  display: block;
  position: relative;
  width: 100%;
  font-size: 12px;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;

  &--disabled {}

  &--open &__list {
    display: block;
  }

  &--selected &__reset {
    display: block;
  }

  &--selected &__input {
    padding-right: 56px;
    text-overflow: ellipsis;
  }

  &__input {

    @extend .search__input;

    padding-right: 36px;
    z-index: 0;
  }

  &__reset {

    @extend .fa;
    @extend .fa-times;

    display: none;
    position: absolute;
    top: 50%;
    right: 30px;
    margin: -10px 0 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $primary-color;
    cursor: pointer;
    opacity: .5;
    z-index: 10;

    &.marker--default {
      color: $muted-color;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__icon {

    @extend .fa;
    @extend .fa-search;

    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -10px 0 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $primary-color;
    cursor: pointer;
    z-index: 10;

    &.marker--default {
      color: $muted-color;
    }
  }

  &__list {

    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    z-index: 20;
    border: 1px solid $muted-color;
    border-radius: 3px;
    box-sizing: border-box;
  }

  &__list-container {
    max-height: 380px;
    overflow: auto;
  }

  &__not-result {

    @include tp-base;

    font-size: 12px;
    padding: 5px;
    text-align: left;
    color: $warning-color;
  }
}