/* common */
.ct-line {
    stroke-width: 4px;
}

/* pie diagram */
.ct-series-a .ct-slice-pie {
    fill: #00bb7c;
}
.ct-series-b .ct-slice-pie {
    fill: #f5bd55;
}
.ct-series-c .ct-slice-pie {
    fill: #f1545a;
}

/* line diagram */
.ct-series-a .ct-line, .ct-series-a .ct-point {
    stroke: #aaa;
}
.ct-series-b .ct-line, .ct-series-b .ct-point {
    stroke: #00bb7c;
}
.ct-series-c .ct-line, .ct-series-c .ct-point {
    stroke: #f5bd55;
}

/* bar diagram */
.ct-series-a .ct-bar {
    stroke: #00bb7c;
}
.ct-series-b .ct-bar {
    stroke: #f5bd55;
}
.ct-series-c .ct-bar {
    stroke: #f1545a;
}

/* donut diagram */
.ct-series-a .ct-slice-donut {
    stroke: #00bb7c;
}
.ct-series-b .ct-slice-donut {
    stroke: #2b80cf;
}