
.autocomplete {
	
	&__component {
		
		position: relative;
		
		.input {
		
			text-overflow: ellipsis;
			padding-right: 40px;
		}
		
		.error, .warning {
		  
            display: block;
		}
		
		.icon {
	
		    position: absolute;
		    color: #2b80cf;
		    width: 0;
		    height: 0;
		    line-height: 0;
		    top: 21px;
		    right: 35px;
		}
	}
}