
.breadcrumbs {

  display: none;
  background: transparent;
  //border-bottom: 1px solid $primary-color;

  &__items {

    padding: 15px 0;
  }

  &__item {

    @extend .fa;

    display: inline-block;
    color: $primary-color;
    vertical-align: middle;

    & + & {

      @extend .fa-angle-double-right;

      margin: 0 0 0 5px;

      &:before {
        vertical-align: top;
        font-size: 14px;
        color: $default-color-grey;
        padding-right: 5px;
      }
    }
  }

  &__link {

    font-family: $base-font-family;
    font-size: 14px;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__caption {

    font-family: $base-font-family;
    font-size: 14px;
    text-decoration: none;
    color: #333;
  }

  &__link,
  &__caption {

    display: inline-block;
    white-space: nowrap;
    max-width: 305px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}