
.combo-box-component {

  position: relative;
  display: inline-block;

  &__select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
  }

  &__header {

    display: block;
    cursor: pointer;
    /*margin-left: 65px;*/

    &:after {
      display: inline-block;
      content: '';
      border: 5px solid transparent;
      border-top: 10px #fff solid;
      border-bottom: none;
      vertical-align: middle;
    }

    //&:focus {
    //	background: #000;
    //
    //	& + .combo-box-component__container {
		//	display: block;
		//}
    //}
    
  }
  
  &--unlink {
  
    cursor: default;
    
    &:after {
    	display: none;
    }
    	
    & > .combo-box-component__caption {
    		
    	& > span {
			text-decoration: none !important;
   		}
  	}
  }

  &:hover &__caption {
    text-decoration: underline;
  }

  &__caption {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    pointer-events: none;
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    
    	&--long {
    		max-width: 430px;
    	}
  }

  &__container {
    display: none;
    position: relative;
  }

  &--open &__caption {
    text-decoration: underline;
  }

  &--open &__header:after {
    //border-color: transparent;
    //border-top-color: #fff;
    //border-bottom: none;
  }

  &--open &__container {
    display: block;
  }

}

.combo-box {

  &--open {
    display: block;
  }

  position: absolute;
  top: 100%;
  right: 0;
  display: block;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  z-index: 1000;

  &__item {

    display: block;
    clear: both;

    &--delimiter {
      margin: 5px 0 0;
      padding: 5px 0 0;
      border-top: 1px solid #e5e5e5;
    }
  }

  &__link {
    display: block;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      color: #262626;
      background-color: #f5f5f5;
    }
  }
}