
.date-picker {

  position: relative;
  display: inline-block;
  width: 125px;

  &--disabled {

    .ui-datepicker-trigger {
      color: $muted-color !important;
    }
  }

  &__input {

    @extend .input;

    padding: 6px 35px 6px 6px !important;
    width: 100%;

    & + .ui-datepicker-trigger {

      @extend .fa;
      @extend .fa-calendar;

      &:before {
        font-size: 20px;
      }

      position: absolute;
      top: 50%;
      right: 5px;
      width: 30px;
      height: 36px;
      overflow: hidden;
      border: 0;
      color: $danger-color;
      background: none;
      margin: -18px 0 0;
      outline: none;
    }
  }
}

.date-picker-area {

  display: inline-block;

  &__area,
  &__controls {
    display: block;
    height: 40px;
  }

  &__controls {
    margin: 10px 0 0 15px;
  }
  
  &__periods {
  
  	& > .checkbox {
  		margin-right: 15px;
  	}
  }

  &__item {

    display: inline-block;

    & + & {
      margin: 0 0 0 10px;
    }
  }

  &__label {

    @include tp-base;

    margin: 0 5px 0 0;
    display: inline-block;
	vertical-align: top;
	line-height: 44px;
	height: 44px;
  }
}