
.docflow {
    
    &-block {
    
        @include tp-base;
    
        position: absolute;
        bottom: 130px;
        right: 17px;
        background: #e0efff;
        border: 1px solid #9eb6d4;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        padding: 15px;
        font-size: 13px;
    }
    
    &-preload {
    
        @extend .fa;
        @extend .fa-spinner;
        @extend .fa-spin;

        right: 8px;
        margin: -13px 0 0 0;
        vertical-align: text-bottom;
        color: #2b80cf;
        font-size: 30px;
    }
    
    &-content {
        display: inline-block;
        margin-left: 10px;
    }
}