
.footer {

  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  &__logo {

    display: inline-block;
    width: 74px;
    height: 30px;
    background: url("../../images/taxcom-logo-dark-74.png");
  }

  &__text {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    vertical-align: middle;
  }

  &__navigate {
    display: inline-block;
    float: right;
    font-size: 13px;
    text-align: right;
    margin-top: 25px;
  }

  &__version {
    display: inline-block;
    font-size: 12px;
    margin: 15px 0 0;
    color: #333;
  }

  &__market-container {
    display: inline-block; margin-left: 100px;
  }

  &__market {
    margin-left: 10px;
    display: inline-block;
    width: 135px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
  }
}