
.progress-status {

  display: inline-block;
  vertical-align: top;
  
  & + .tp-paragraph {
    display: inline-block;
    vertical-align: top;
  }

  &--process.progress-status__item {
    @extend .fa-clock-o;
    color: $warning-color;
  }
  
  &--question.progress-status__item {
    @extend .fa-question-circle;
    color: $warning-color;
  }

  &--error.progress-status__item {
    @extend .fa-ban;
    color: $danger-color;
  }

  &--success.progress-status__item {
    @extend .fa-check-circle-o;
    color: $success-color;
  }

  &__item {

    @extend .fa;
    @extend .fa-circle-o;

    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: $muted-color;
  }
}