
.filter {

  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  padding: 20px;

  &__count {
    display: block;
    font-size: 14px;
    color: #333333;
    margin: 0 0 30px;
  }

  &__count-number {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    vertical-align: middle;
    margin: 0 0 0 10px;
  }
  
  &__row {
  	overflow: hidden;
  }
  
  &__row + &__row {
	margin-top: 30px;
  }

  &__cell {
    display: table-cell;
    vertical-align: middle;
    width: 115px;
    box-sizing: border-box;
    
    &:last-child {
    	padding-left: 15px;
    	width: 573px;
    }
  }

  &__items {

    display: block;
    text-align: left;
    font-size: 0;

    &:after {
      display: block;
      content: '';
      clear: both;
    }
  }

  &__item {

    display: inline-block;

    & + & {
      margin: 0 0 0 40px;
    }

    & > .status {

      display: inline-block;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }

  &__column {
    display: inline-block;
    width: 32%;
  }

  &__column &__item {
    display: block;
    margin: 0;
  }

  &__column &__item + &__item {
    margin: 10px 0 0;
  }
}