
.manager {

    &__content {
        display: block;
    }

    &__spinner {
        display: none;
    }

    &--loading > &__content { display: none; }
    &--loading > &__spinner { display: block; }

    &__page {

        display: none;

        &--active {
            display: block;
        }
    }
}
