
$base-font-family: "Open Sans", sans-serif;
$base-font-size: 14px;
$base-line-height: 1.4;

$header-background: #0099ff;

$muted-color: #999;
$success-color: #00bb7c;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$primary-color: #2b80cf;
$primary-color-hover: #95c0e7;
$shift-color-hover: #85b9e2;
$default-color-grey: #333333;

$diagram-color-green: #009999;
$diagram-color-orange: #333399;