
.button-update {

  display: inline-block;


  &--disabled &__button {

    color: $muted-color;
  }

  &--process &__button {

    &:before {
      @extend .fa-spin;
    }
  }

  &__button {

    &:before {
      @extend .fa;
      @extend .fa-refresh;
      display: inline-block;
      margin-right: 10px;
      font-weight: bold;
      font-size: 20px;
    }

    display: block;
    font-family: $base-font-family;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: $danger-color;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 4px 0;
    padding: 0;
    outline: none;
    transition: color 200ms;
  }

  &__last-update {

    font-size: 12px;
    text-align: right;
    color: #999;
  }

}