<!--<div class="footer">-->
    <div class="centralizing-container">
        <div class="footer__navigate">
            <nav class="navigate navigate--mini">
                <span class="navigate__item">
                    
                </span>
                <span class="navigate__item">
                    
                </span>
                <span class="navigate__item">
                
                </span>
                <span class="navigate__item">
                </span>
            </nav>
            <span class="footer__version">Если у вас возникли вопросы - обратитесь в <a href=#>техподдержку</a></span>
        </div>
        <span class="footer__logo"></span>
        <div class="footer__market-container">
        </div>
        <span class="footer__text"><%= year %> © </span>
        <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
<!--</div>-->